#

.env


# Binaries
task_manager
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build artifacts
*.test
*.out

# Go modules cache (if ever generated locally)
vendor/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.iml

# Temporary files
*.swp
*.swo
*.tmp



